body {
    background-image: url(../res/singing.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

input{
    border: white solid 0px;
    border-radius: 8px;
    float: right;
    height: 42px;
    width: 71%;
}

#registrationForm > input[type="submit"],#registrationForm >  input[type="reset"]{
    float: none;
    width: 48%;
    font-size: 23px;
}
.container > legend{
    font-size: 45px;
}
.container {
    float: right;
    padding: 15px;
    width: 860px;
    margin-top: 175px;
    margin-right: 50px;
    background-color: rgba(128, 122, 122, 0.459);
    border-radius: 10px;
    font-size: 40px;
    height: 422px;
}